:root {
    --primary-01: #F87F6E;
    --primary-02: #4CD1B6;

    --spacer-xss: 0.444rem;
    --spacer-xs: 0.667rem;
    --spacer-sm: 1rem;
    --spacer-md: 1.5rem;
    --spacer-base: 2.25rem;
    --spacer-lg: 3rem;
    --spacer-xl: 3.875rem;
    --spacer-xxl: 7rem;

    font-family: sans-serif;
    font-size: 1.25rem;
    text-align: center;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
}

header {
    background-color: var(--primary-02);
    padding: var(--spacer-md);
    margin: 0;
}

h1 {
    margin-bottom: 0.75rem;
    font-size: 2rem;
}

h3 {
    color: var(--primary-01);
    letter-spacing: 0.1rem;
}

img {
    margin: var(--spacer-sm);
}

footer {
    background-color: var(--primary-02);
    padding: var(--spacer-md);
    margin-top: var(--spacer-base);
}

.presents {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacer-base);
    margin-left: var(--spacer-base);
    margin-right: var(--spacer-base);
}


.presents > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--primary-01);
    border-radius: 10px;
    max-width: 80ch;
}

.presents > section > img {
    width: 80%;
}

.choice {
    color: var(--primary-02);
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--spacer-base);
}
